{% extends 'frontend/layout.html' %}

{% block content %}
      <h2 class="h2 pt-2" style="text-align: center; font-family: 'Roboto Mono', monospace;">BILLING</h2>
      <hr>
    <div class="row pb-4">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form class="form" action="/billing" method="POST" enctype="multipart/form-data">
          <label>Customer Name</label>
          <input class="form-control" type="text" name="xname" placeholder="Name">
          <br>
          <label>Billing Address</label>
          <textarea class="form-control" type="text" name="xbill" placeholder="Address"></textarea>
          <br>
          <label>Credit Card Number</label>
          <input class="form-control" type="text" name="xcnum" placeholder="Number">
          <br>
          <label>Credit Card CVV</label>
          <input class="form-control" type="text" name="xcvv" placeholder="CVV">
          <br>
          <label>Credit Card Expiry</label>
          <input class="form-control" type='text' name="xcexp" placeholder='Select Date' style='width: 300px;' >
          <br>
          <label>Bill Date</label>
          <input class="form-control" type="Date" name="xcdate" placeholder="Date">
          <br>
          <div class="text-center">
          <input type="submit" class="btn btn-danger text-center" name="xsub" value="Submit"> 
        </div>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>

    
    {% endblock %}