{% extends 'frontend/layout.html' %}

{% block content %}

<div class="row pb-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 card">
      <h5 class="text-center" style="margin-top: 35px;font-family: 'Roboto Mono', monospace;">Our Story</h5>
      <p class="text-center">A bit of our history and vision</p>
      <p class="card-body text-justify">For eight years, the founders of "AD Woods, were manufacturing, polishing, packing and supplying pack shipments of industrial furniture and contemporary furniture for the domestic market in India, with 100% customer satisfaction rate. On the back of this success, the decision was taken early in 2020, to step into the export business so "AD Woods" was established, to offer high quality custom made industrial and colonial furniture to customers around the world, with particular focus on Europe and USA.</p>
      <p class="card-body text-justify">In our quest to seek new opportunities, we are now creating antique furniture, industrial iron and wooden furniture, outdoor furniture, which are affordable, innovative and functional, with items that are both contemporary and elegant, made out of natural materials like iron, wood and wrought irons. Our company’s eminence is in the finish of our products, with our in-house finishing unit providing various options, from lacquer finish to antique finish, weathered or aged finishes.
                                         Natural wax and shellac is used to bring out the grain of the very fine Indian Mango and acacia also known as “Babool” wood. In fact all the wood used in the range is traditional and has a rich warm finish. It is this quality which allows our pieces to be either casual or formal or both, as the occasion demands.</p>
      <p class="card-body text-justify">Our state-of-the-art manufacturing and warehousing facilities are established at Jodhpur, India employing approximately 80-100 craftsmen and artisans creating various designs of furniture.</p>
      <p class="card-body text-justify">Our Range includes Indian Furniture: almirah, coffee tables, Garden chairs, bar stools, TV cabinets, nesting tabels bedside tables, beds, bookshelves, boxes, buffets, CD racks, chairs, dining sets, display cabinets, drawer units, tables of all sizes, wardrobes, wine cabinets and much more, all made out of an exquisite selection of wood. If you are looking for something different, something fabulous, yes, we are also excell in producing items as you say, to the  specifications provided.</p>
      <p class="card-body text-justify">We offer an exclusive and beautiful range of wooden furniture for all rooms of your home, at highly competitive prices. For instance, why not decorate your living area with "AD Woods" iron wooden furniture range, including pieces like coffee tables, hanging wall shelves, bookshelves, wall cabinets, iron wooden bottle holder etc., yes we have a lot of collection for you.</p>
      <p class="card-body text-justify">Our team of skilled craftsman and designers expertly plan how to build all our pieces of furniture to a high standard, to guarantee it will have durability and reliability, to meet international standards and to achieve total customer satisfaction.</p>
      <p class="card-body text-justify">We – AD Woods - always seek to meet your demands by providing great utility and decorative furniture as well as efficient customer service.</p>
    </div>
    <div class="col-sm-2"></div>
  </div>

{% endblock %}