{% extends 'frontend/layout.html' %}

{% block content %}
<div class="row text-center pt-5 pb-5">
          <div class="col-sm-3"></div>
          <div class="col-sm-2 p-3 card">
            <i class="fas fa-map-marker-alt fa-3x text-warning"></i>
            <h5>Where are we?</h5>
            <p><span>Basni phase 2,</span>
              Jodhpur, Raj. 342 001, India</p>
          </div>

          <div class="col-sm-2 p-3 card">
            <i class="fas fa-phone fa-3x text-warning"></i>
            <h5>Call us</h5>
            <a href="" class="text-dark"><p>+91 95870 07865</a></p>
          </div>
          
          <div class="col-sm-2 p-3 card">
            <i class="far fa-clock fa-3x text-warning"></i>
            <h5>Working hours</h5>
            <p><b>Mon</b>-<b>Sat</b> :9 am - 8 pm<br>
            <b>Sat</b> :12 pm - 2 pm</p>
          </div>
          <div class="col-sm-3"></div>
        
        </div>
      
    
    
    <!-- Contact  Us Start -->
    <!-- <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 class="text-center text-grey mt-5 pb-4" style="font-family: 'Roboto Mono', monospace;"> Registration Form</h2>
              <form action="" method="" role="form">
                <div class="form-group">
                  <label for="name">Name</label>
                  
                  <input type="text" placeholder="Name Here" class="form-control">
                  
                </div> 
  
                <div class="form-group">
                  <label for="email">Email</label>
                  
                  <input type="text" placeholder="example@gmail.com" class="form-control">
                  
                </div> 
  
                <div class="form-group">
                  <label for="subject">Subject</label>
                  
                  <input type="text" placeholder="subject" class="form-control ">
                  
                </div> 
  
              <div class="form-group">
                <label for="number">Mobile number</label>
                
                <input type="text" placeholder="XXXXX07865" class="form-control ">
                
              </div> 
  
              <div class="form-group">
                <label for="message">Message</label>
                
                <textarea rows=7 col=40 placeholder="Type your message here" class="form-control "></textarea>
                
              </div> 
  
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Tick here to subscribe to our newsletter
              </label>
              </div>
  
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Send me a copy of this mail
                </label>
              </div>
                    <div class="text-center p-3">
                        <button type="submit" class="btn btn-primary">Send</button>
                  </div> 
              </form>
          </div>
        <div class="col-sm-4"></div>
  
      </div> -->


{% endblock %}