{% extends 'frontend/layout.html' %}

{% block content %}
  <div class="container-fluid pt-2">
    <div class="card">
    <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-3 p-2  ">
            <div class="card-body">
                <img src="/static/upload/{{err['data'][0][2]}}" class="img-fluid"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card-body">
                <h4><b style="font-family: century">Name:-</b> {{err['data'][0][3]}}</h4><br>
                <h4><b style="font-family: century">Description:-</b> {{err['data'][0][4]}}</h4><br>
                <h4><b style="font-family: century">Price:- Rs.</b> {{err['data'][0][5]}}/-</h4><br>
                <a href="/cart/{{err['data'][0][1]}}" class="btn btn-danger"> Add To Cart</a>
            </div> 
        </div>
        <div class="col-sm-3"></div>
    </div>
  </div>


  <!--Footer starts-->
  <footer id="footer"  class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          
        </div>
      <div class="hm-footer-copyright text-center">
        <div class="footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>	
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>	
        </div>
      </div>
    </div>
  </div>
    </div>
{% endblock %}
    